#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #7d6a8f42;
  color: #07145e;
  min-height: 100vh;
}

h1 {
  margin: 0.5em 0;
  padding: 0;
}

.card ul,
form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

form {
  justify-content: center;
  justify-self: start;
  gap: 3px;
}

form,
footer,
.card {
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}

.card {
  padding: 1em;
  margin: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card h3 {
  text-align: justify;
}

.card li {
  cursor: pointer;
  list-style: circle;
  margin-top: 0.9rem;
  padding: 4px 0;
}

input,
select {
  margin-top: 3px;
  background-color: #4f2482;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

select {
  background-color: rgb(180, 180, 180);
  color: rgb(0, 0, 0);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #7d6a8f;
  z-index: 2;
}

.exam_header {
  font-size: small;
}

.exam_header h1 {
  padding-left: 30px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.submit,
.new_exam,
.score {
  font-weight: bold;
}

.submit {
  background-color: #4f2482;
  color: white;
}

footer {
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 2px;
  margin-top: 5px;
  font-weight: bold;
  /* box-shadow: 0px 0px 8px 0px black; */
}

@media (max-width: 600px) {
  .exam_header {
    font-size: 0.5rem;
  }
  .exam_header h1 {
    padding-left: 8px;
  }
}
